.animations-container {
  .box {
    width: 15rem;
    height: 15rem;
    display: flex;
    background-color: darkblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    .boxItem {
      width: 0.2rem;
      height: 0.2rem;
      background-color: whitesmoke;
      padding: 2rem;
      list-style: none;
      margin: 0.5rem;
    }
  }
  .buttons {
    display: flex;
    gap: 2px;
    margin-bottom: 2rem;
    button {
      background-color: darkcyan;
      color: whitesmoke;
      border-style: none;
      padding: 1rem;
      cursor: pointer;
      width: 10rem;
    }
  }
}
